SECRET_KEY=django_secret_key
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,other.host.com
DATABASE_ENGINE=postgresql

; === FOR POSTGRESQL ===
DATABASE_NAME=db_name
DATABASE_SCHEMA=public
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
