{% extends 'mobile_main.html' %}
{# https://www.chartjs.org/docs/latest/samples/bar/horizontal.html #}
{% load static %}
{% block add_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    body {
        font-family: Arial, sans-serif;
        display: contents;
    }
    .center {
        text-align: center;
    }

    </style>
{% endblock %}
{% block content %}
    <div class="center">{{ date_begin }} - {{ date_end }}</div>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var labels = {{ rooms|safe }};
        var values = {{ consumptions|safe }};
        var colors = {{ colors|safe }};
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'kWt',
                    data: values,
                    backgroundColor: colors,
<!--                    backgroundColor: 'green',-->
<!--                    borderColor: 'red',-->
<!--                    borderWidth: 1-->
                }]
            },
            options: {
                indexAxis: 'y',
                plugins: {
                    legend: {
                        display: false,
                    },
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}