{% extends 'main.html' %}
{% load static %}
{% block add_head %}
    <link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" />
    <link href="{% static 'css/summary.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include 'rent/modal_contract.html' %}
<div class="search">
    <input class="search-input" type="text" id="search-contract"/>
    <button id="editBtn" class="button-new">+</button>
</div>
<div id="list_contracts">
{% include "rent/contracts_list.html" %}
</div>
<script src="{% static 'js/bitza.js' %}"></script>
{% endblock %}