<div class="contract">
    {% for label in labels %}
    <div>{{ label }}</div>
    {% endfor %}
</div>
{% for contract in contracts %}
<div class="contract">
    <div>{{ contract.room }}</div>
    <div>{{ contract.contact }}</div>
    <div>{{ contract.date_begin }}</div>
    <div>{{ contract.price }}</div>
    <div>{{ contract.pay_day }}</div>
    <div>{{ contract.status }}</div>
</div>
{% endfor %}
{% block pagination %}
{# Classic pagination #}
{% if True %}
<ul class="pagination">
    {% if page_obj.has_prevoius %}
    <li>
        <a href="{{ request.path }}?q={{ q }}&amp;page={{ page_obj.previous_page_number }}">Назад</a>
    </li>
    {% else %}
    <li>Назад</li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="current">{{ i }}</li>
    {% else %}
    <li class="current">
        <a href="{{ request.path }}?q={{ q }}&amp;page={{ i }}">{{ i }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if payments.has_next %}
    <li><a href="{{ request.path }}?q={{ q }}&amp;page={{ page_obj.next_page_number }}">Вперёд</a></li>
    {% else %}
    <li>Вперёд</li>
    {% endif %}
</ul>
{% endif %}
<ul class="pagination">
    {% for year in years %}
    <li class="current"><a href="{{ request.path }}?y={{ year }}">{{ year }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
