{% extends 'main.html' %}
{% load static %}
{% block add_head %}
    <link href="{% static 'css/autocomplete.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="modal-content">
    <form id="new_payment" method="POST"
          action="{% url 'rent:payments' %}">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.date.label }}
        {{ form.date }}
        {{ form.room.label }}
        {# autocomplete block #}
        <div class="autocomplete">
            {{ form.room }}
            <!--                <div id="myInputautocomplete-list" class="autocomplete-items"></div>-->
        </div>
        {# { form.room1 } #}
        {# { form.room2 } #}
        <br>
        {{ form.amount.label }}
        {{ form.amount }}
        {{ form.discount.label }}
        {{ form.discount }}
        {{ form.total.label }}
        {{ form.total }}
        {{ form.bank_account.label }}
        {{ form.bank_account }}
        <input type="submit"
               class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150 ml-3"
               value="create"/>

    </form>
</div>
<script src="{% static 'js/autocomplete.js' %}"></script>
<script>
// {# for autocomplete #}
const rooms=[{{ rooms_list|safe }}]
autocomplete(document.getElementById("room"), rooms);

function removeOptions(selectElement) {
   const length = selectElement.options.length - 1;
   for(let i = length; i >= 0; i--) {
      selectElement.remove(i);
   }
}

const fillr2 = () => {
    room1 = document.getElementById('room1');
    r1 = room1.value;
    room2 = document.getElementById('room2');
    removeOptions(room2);

    const url = `/rent/payments/r2`;
    ajax({
        url: url,
        method: "POST",
        responseType: "json",
        data: {r1: r1, csrfmiddlewaretoken: getToken()},
        success: (r2) => {
            console.log(r2);
            console.log(typeof r2);
            Object.values(r2).forEach ( val => {
                console.log (val);
                const opt = document.createElement('option');
                opt.text = val;
                room2.appendChild(opt)
            });
        }
    });
};

const getToken = () => {
    form = document.forms[0];
    return form.children[0].value;
}

const countTotal = () => {
    amount = document.getElementById('amount');
    dicsount = document.getElementById('dicsount');
    total = amount.value - discount.value;
    document.getElementById('total').value = total;
    amount.value = Number(amount.value);
};
if (document.getElementById('amount')) {
    document.getElementById('amount').addEventListener('input', () => {
        countTotal();
    });
}
if (document.getElementById('discount')) {
    document.getElementById('discount').addEventListener('input', () => {
        countTotal();
    });
}


</script>

{% endblock %}
