<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    {% block add_head %}{% endblock %}
    <title>{% block title %}Document{% endblock %}</title>
</head>

<body>
<nav>
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen'></i>
        <span class="logo navlogo"><a href="/">Bytza.com</a></span>

        <div class="menu">
            <div class="menu-header">
                <span class="logo"><a href="/">Bytza.com</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>
            <ul class="nav-links">
                {% for item, url in menu.items %}
                    <li><a href="{% url url %}">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="nav-buttons">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>

            <div class="search-block">
                <div class="search-button">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                </div>

                <div class="search-string">
                    <input type="text" placeholder="Поиск...">
                    <i class='bx bx-search'></i>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="{% static 'js/menu.js' %}"></script>
<div id="content">

    {% block content %}
    {% if user.is_authenticated %}
        <p>authenticated</p>
        {{ user.first_name }}
        {{ user.username }}
        {{ user.groups }}
    {% else %}
        <p>not authenticated</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <br>
    {{ current_user }}
    {% endblock %}
</div>
</body>

</html>
